<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

<div class="container text-center">
<h1>Сайт для генерирования рандомных паролей</h1>
Сделал йа: <i>@idtverdov</i><br>
    <br>
    по одному обучающему курсу, дабы изучиьи фреймворк Django. <br>
Трунь! <br>
    Спасибо Вам и хорошего дня!
<br>
    <br>
<form action="{% url 'home' %}">
<input type="submit" value="На гавную" class="btn btn-warning">
</form>
</div>